*{margin: 0; padding: 0}
body{background: url(bg.jpg);max-width: 100vw;background-size: cover;height: 100vh}
.menu{max-width: 1000px;display: block;margin: 0 auto}
.imga{max-width: 1000px;}
img{width: 100%;}
h3{color:black;text-align: center;padding: 7px;background: white;width: 230px;height: 28px;
border-radius: 27px;font-size: 20px;font-family: Helvetica, sans-serif;line-height: 32px;margin: 8px auto;animation: chang 6s linear infinite}
@keyframes chang{
    0%{background: white}
    50%{background: black; color: white;}
    100%{background: none;color: black}
}
